body {
	background:  #fff;
	
}
.message {
	color: #232323;
	text-align: center;
	margin-top: 30px;
	margin-right: 20px;
	font-family: Montserrat sans-serif;
}
.login-form {
	
	
	top: 10vh;
	background: #FFFFFF;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 1px 1px 10px 1px #232526;

}
.login-header {
	text-align: center;
}
.form-last {
	padding: 10px; 
	text-align: center;
} 
.btn {
	background: #267871;
}
.btn:hover {
  background: #3A9070;
}